<nav class="d-flex justify-content-center" >
    <div  class="nav nav-tabs" id="nav-tab" role="tablist">
      <button  [ngClass]="{ 'active':activeTab==='oficina'}" (click)="cambiar('oficina')" class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Oficina</button>
      <button  [ngClass]="{ 'active':activeTab==='documentos'}" (click)="cambiar('documentos')"
       class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Documentos</button>
      <button [ngClass]="{ 'active':activeTab==='agenda'}" (click)="cambiar('agenda')" class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Agenda</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div [ngClass]="{ 'show active':activeTab==='oficina'}" class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><app-oficina></app-oficina></div>
    <div [ngClass]="{ 'show active':activeTab==='documentos'}" class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"><app-documentos></app-documentos></div>
    <div [ngClass]="{ 'show active':activeTab==='agenda'}" class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"><app-agenda></app-agenda></div>
  </div>