<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="col-md-3"></div>
  <div class="col-md-6 justify-content-center">
    <ul class="nav nav-tabs">
      <li [ngClass]="{ ' active':activeTab === 'oficina'}" id="tad1" (click)="changeTab('oficina')"><a data-toggle="tab"
          >Oficina</a></li>
      <li [ngClass]="{ ' active':activeTab === 'documentos'}" d="tad2" (click)="changeTab('documentos')"><a
          data-toggle="tab" >Documentos</a></li>
      <li [ngClass]="{ ' active':activeTab === 'datos'}" d="tad2" (click)="changeTab('datos')"><a
          data-toggle="tab" >Datos</a></li>
      <li [ngClass]="{ ' active':activeTab === 'agenda'}" id="tad3" (click)="changeTab('agenda')"><a data-toggle="tab"
          >Agenda</a></li>
    </ul>

    <div class="tab-content">
      <div [ngClass]="{'active':activeTab === 'oficina'}" class="tab-pane " id="tab-01">
        <div class="row">
          <div class="col">
            <h2 class="text-center">Ubicacion de la Oficina</h2>
            <select [(ngModel)]="state" class="form-control" aria-label="Default select example">
              <option disabled>Selecciona el estado...</option>
              <option value="Vercruz">Vercruz</option>

            </select>
          </div>
          <div class="col">
            <select [(ngModel)]="office" class="form-control" aria-label="Default select example">
              <option disabled>selecciona la oficina...</option>
              <option value="Xalapa">Xalapa</option>
              <option value="Veracruz">Veracruz</option>
              <option value="Cordoba">Cordoba</option>


            </select>
          </div>
          <button (click)="changeTab('documentos')" data-toggle="tab"  class="btn btn-primary"
            style="margin-top: 1em;">Continuar </button>

        </div>

      </div>


      <div [ngClass]="{ ' active':activeTab==='documentos'}" class="tab-pane" id="tab-02">
        <div class="row ">
          <h2 class="text-center">Subir documentos</h2>
          <div class="col-md-10">
            <span class="control-fileupload">
              <label for="fileInput">Documento de identidad:</label>
              <input type="file" id="fileInput" (change)="onFileChange($event)">
              <button class="btn btn-primary" style="margin-top: 1em;" (click)="onUploadDocumentIdentity()">subir
                
              </button>
              <button class="btn btn-primary" style="margin-top: 1em;" (click)="subscribeNewTopic()">Subir imagen desde app
                
              </button>

            </span>

          </div>

        </div>
        <button (click)="changeTab('datos')" data-toggle="tab"  class="btn btn-primary"
          style="margin-top: 1em;">Continuar </button>


      </div>

      <div [ngClass]="{'active':activeTab === 'datos'}" class="tab-pane " id="tab-03">
        <div class="row">
          <div class="col">
            <div class="col">
              <div class="form-group ">
                <label>Telefono</label>
                <input [(ngModel)]="telephone" type="text" style="text-transform: uppercase" class="form-control"
                  placeholder="Telefono" aria-label="Telefono" />
              </div>
            </div>
            <div class="col">
              <div class="form-group ">
                <label>Nombre</label>
                <input [(ngModel)]="name" type="text" style="text-transform: uppercase" class="form-control"
                  placeholder="Nombre" aria-label="Nombre" />
              </div>
            </div>
            <div class="col">
              <div class="form-group ">
                <label>Apellido paterno</label>
                <input [(ngModel)]="first_surname" type="text" style="text-transform: uppercase" class="form-control"
                  placeholder="Apellido paterno" aria-label="Apellido paterno" />
              </div>
            </div>
            <div class="col">
              <div class="form-group ">
                <label>Apellido materno</label>
                <input [(ngModel)]="second_surname" type="text" style="text-transform: uppercase" class="form-control"
                  placeholder="Apellido materno" aria-label="Apellido materno" />
              </div>
            </div>
            <div class="col">
              <div class="form-group ">
                <label>Direccion</label>
                <input [(ngModel)]="address" type="text" style="text-transform: uppercase" class="form-control"
                  placeholder="Direccion" aria-label="calle" />
              </div>
            </div>

            <div class="col">
              <div class="form-group ">
                <label>Ciudad</label>
                <input [(ngModel)]="born_country" type="text" style="text-transform: uppercase" class="form-control"
                  placeholder="Ciudad" aria-label="ciudad" />
              </div>
            </div>
            <div class="col">
              <div class="form-group ">
                <label>CURP</label>
                <input [(ngModel)]="curp" type="text" style="text-transform: uppercase" class="form-control"
                  placeholder="CURP" aria-label="curp" />
              </div>
            </div>
            <div class="col">
              <div class="form-group ">
                <label>Fecha de nacimiento</label>
                <input [(ngModel)]="born_date" type="text" style="text-transform: uppercase" class="form-control"
                  placeholder="Fecha de nacimiento" aria-label="Fecha de nacimiento" />
              </div>
            </div>

          </div>

          <button (click)="changeTab('agenda')" data-toggle="tab" class="btn btn-primary"
            style="margin-top: 1em;">Continuar </button>

        </div>

      </div>

      <div [ngClass]="{ ' active':activeTab==='agenda'}" class="tab-pane" id="tab-04">
        <div class="row ">

          <div class="col-md-10">
            <mat-form-field>
              <mat-label>Fecha para la cita:</mat-label>
              <input required id="date" matInput [matDatepicker]="picker">
              <mat-hint>YYYY/MM/DD</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>




            <label class="control-label" for="appt" style="margin-top: 3em;">Hora para la cita: </label>
            <input [(ngModel)]="time" type="time" id="appt" name="appt" min="09:00" max="18:00" required value="9:00">
          </div>


        </div>
        <button class="btn btn-primary" style="margin-top: 1em;" (click)="onSwalConfirment()">Guardar </button>

      </div>

    </div>
  </div>
</div>