<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <h1 class="text-center">Consulta de citas</h1>
  <h2 *ngIf="userLogin">Citas: {{userLogin.email}} </h2>
  <div style=" margin-top: 2em; margin-bottom: 1em;">
    <button routerLink ="/cita" type="button" class="btn btn-primary" style="float: right;">Programar cita</button>
  </div>
  

  <div class="table-responsive ">

    <table class="table caption-top">
      <caption><h2>Citas actuales</h2></caption>
      <thead>
        <tr>
          <th scope="col">FECHA</th>
          <th scope="col">HORA</th>
          <th scope="col">FOLIO</th>
          <th scope="col">SOLICITANTE</th>
          <th scope="col">OFICINA</th>
          <th scope="col">TRAMITE</th>
          <th scope="col">ESTATUS</th>
        </tr>
      </thead>
      <tbody>
        <tr id = "registre" *ngFor="let appointment of appointmentsList; let i = index">
          <td>{{appointment.date}}</td>
          <td>{{appointment.time}}</td>
          <td>{{appointment.id}}</td>
          <td>{{appointment.name}}</td>
          <td>{{appointment.office}}</td>
          <td>{{appointment.papeport}}</td>
          <td class="text-success"><b>{{appointment.status}}</b></td>

        </tr>
      </tbody>
    </table>
  </div>
</div>



