<div class="container-fluid">
    <h1 class="text-center">Consulta de citas</h1>
  <h4>Citas: &lt;nombreUsuario&gt;</h4>
  <div style=" margin-top: 2em; margin-bottom: 1em;">
    <button type="button" class="btn  btn-outline-secondary">Citas actuales</button> 
    <button type="button" class="btn  btn-outline-secondary">Historial de citas</button>
    <button routerLink ="cita"  type="button" class="btn btn-outline-danger" style="float: right;">Programar cita</button>
  </div>
  

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">FECHA</th>
          <th scope="col">HORA</th>
          <th scope="col">FOLIO</th>
          <th scope="col">SOLICITANTE</th>
          <th scope="col">OFICINA</th>
          <th scope="col">TRAMITE</th>
          <th scope="col">ESTATUS</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
