<div class="row justify-content-center" style="margin-top: 5em">
  <div class="col-md-6">
    <img
      src="../../assets/img/logo.png"
      class="img-responsive"
      alt="Pico"
      width="600"
      height="436"
    />
  </div>
  
  <div class="col-md-4">
    <div *ngif = "!showAlert" class="alert alert-success">Login exitoso.</div>

    <h2 class="text-center">Iniciar Sesión</h2>
    <div class="form-group">
      <label class="control-label" for="email-01">Correo electrónico:</label>
      <input class="form-control" [(ngModel)]= "email" id="email-01" placeholder="Correo electrónico" type="text">
    </div>
    <div class="form-group">
      <label class="control-label" for="password-01">Contraseña</label>
      <input class="form-control" [(ngModel)]= "password" id="password-01" placeholder="Contraseña" type="password">
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <div class="form-check"style="margin-top: 1em; margin-left : 3em;">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            [checked] = "checkSeleccionado" 
            (change) = "onChange($event)"
            required
          />
          <label class="form-check-label" for="flexCheckChecked">
            He leido y acepto los <a style="cursor:pointer;">terminos y condiciones.</a>
          </label>
        </div>
      
      
    </div>
    
    <div class="row justify-content-center" style="margin-top: 1em;">
      <div class="col-md-6">
        
          <button  type="button" class="btn btn-default img-responsive" routerLink="/sing-in">
            Crear cuenta
          </button>
        
      </div>
      <div class="col-md-6">
        <button [disabled]="! checkSeleccionado" (click)="login()" type="button" class="btn btn-primary img-responsive">
          Ingresar
        </button>
      </div>
      
    </div>
  </div>
</div>
