<div class="row justify-content-center align-items-end margen">
  <div class="col-md-auto">
    <label for="formFileLg" class="form-label "><h5>Documento de identidad</h5></label>
    <input class="form-control form-control-lg" id="formFileLg" type="file" />
  </div>
  <div class="col-md-auto">
    <button type="button" class="btn btn-lg btn-outline-success">Subir</button>
  </div>
</div>
<div class="row justify-content-center align-items-end margen">
    <div class="col-md-auto">
      <label for="formFileLg" class="form-label "><h5>Documento de nacionalidad</h5></label>
      <input class="form-control form-control-lg" id="formFileLg" type="file" />
    </div>
    <div class="col-md-auto">
      <button type="button" class="btn btn-lg btn-outline-success">Subir</button>
    </div>
  </div>
  <div class="row justify-content-md-center margen" >
    <div class="col-md-auto">
      <button routerLink="" type="button" class="btn btn-outline-danger">
        Cancelar
      </button>
    </div>
    <div class="col-md-auto">
      <button  (click)="cambiar('agenda')" type="button" class="btn btn-outline-success">Continuar</button>
    </div>
  </div>
