<div class="container">
  <h2 class="text-center">Ubicacion de la Oficina</h2>

  <div class="row justify-content-md-center margen" >
    <div class="col-md-auto">
      <div class="dropdown d-inline-block">
        <button
          class="btn btn-outline-dark dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Selecciona el estado...
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-auto">
      <div class="dropdown d-inline-block">
        <button
          class="btn btn-outline-dark dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Selecciona la oficina...
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-md-center margen" >
      <div class="col-md-auto">
        <button routerLink="" type="button" class="btn btn-outline-danger">
          Cancelar
        </button>
      </div>
      <div class="col-md-auto">
        <button  (click)="cambiar('documentos')" type="button" class="btn btn-outline-success">Continuar</button>
      </div>
    </div>
  </div>
</div>
