<div class="container">
  <h2 class="text-center">Ubicacion de la Oficina</h2>

  <div class="row justify-content-md-center margen" >
    <div class="col-md-auto">
      <select class="form-select" aria-label="Default select example">
        <option selected>Selecciona el estado...</option>
        <option value="1">Vercruz</option>
        
      </select>
    </div>
    <div class="col-md-auto">
      <select class="form-select" aria-label="Default select example">
        <option selected>selecciona la oficina...</option>
        <option value="1">Xalapa</option>
        <option value="2">Veracruz</option>
        <option value="3">Cordoba</option>

        
      </select>
    </div>
    <div class="row justify-content-md-center margen" >
      <div class="col-md-5">
        <div class="input-group ">
          <input
            type="text"
            style="text-transform: uppercase"
            class="form-control"
            placeholder="Ingresa tu CURP"
            aria-label="Ingresa tu CURP"
          />
        </div>
      </div>
      
      </div>
    <div class="row justify-content-md-center margen" >
      <div class="col-md-auto">
        <button routerLink="" type="button" class="btn btn-outline-danger">
          Cancelar
        </button>
      </div>
      <div class="col-md-auto">
        <button  (click)="cambiar('documentos')" type="button" class="btn btn-outline-success">Continuar</button>
      </div>
    </div>
  </div>
</div>
